# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml

# IDE
.idea/
.vscode/
*.swp
*.swo
.kiro/

# OS
.DS_Store
Thumbs.db

# Secrets
*.env
*.keystore
*.jks
key.properties
android/keystore/
vaultnote-release.jks
.info/

# Generated
*.g.dart
*.freezed.dart
pubspec.lock
